body {
    height: 100vh;
    height: 100svh;
    margin: 0px;
    background-color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-container  { 
    background-color: #1F2937;
    padding: 12px 140px;
    height: 800px;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    flex-wrap: wrap;
}

.title-text {
    flex-basis: 500px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    margin-bottom: 12px;
}

button {
    padding: 8px 32px;
    border-radius: 8px;
}

button.first {
    background: #3882f6;
    border: 2px solid #3882f6;
}

button.right {
    background: #3882f6;
    border: 2px solid white;
}

#cover-img {
    width: 450px;
    height: 200px;
}

.info-header {
    font-weight: 900;
    padding: 32px 0;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    padding-bottom: 64px;
    flex-wrap: wrap;
}

.info>img {
    width: 200px;
    height: 200px;
    border: 4px solid royalblue ;
    border-radius: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-self: center;
    gap: 8px;
}

.quote-container {
    background-color: rgb(189, 176, 176);
    padding: 64px 200px;
}

.quote-text {
    font-weight: 100;
    font-style: italic;
}

.quote-ref {
    text-align: right;
    padding-right: 48px;
}

.sign-up-container {
    background-color:  #3882f6;
    margin: 64px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 72px;
    border-radius: 8px;
    flex-wrap: wrap;
}

.footer {
    background-color:#1F2937;
    padding: 32px 0;
}

.header, .action-header {
    font-size: 24px;
}

.info-header, .quote-text {
    font-size: 36px;
}

a, .secondary-text, .footer {
    color: #e5e7eb;
}

.header, .main-text, .action-text {
    color: #F9FAF8;
}

button.first, button.right, .action-header {
    color: white;
}

.info-header, .img-text, .quote-text, .quote-ref {
    color: #1F2937;
}

.header, button, .quote-ref, .action-header {
    font-weight: bold;
}

.title-text, .quote-text, .left {
    text-align: left;
}